<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="morpher" type="Morpher.AppConfig.ConfigurationSectionHandler, Morpher.API"/>
  </configSections>
  
  <morpher>
    <objects>
      <add name="WebServiceClient" type="Morpher.WebServiceClient, Morpher.API, Version=1.0.2.0, Culture=neutral">
        <!-- Не забудьте сменить логин и пароль на свои: http://morpher.ru/Register.aspx -->
        <parameters url="http://morpher.ru/WebService.asmx" username="morpherapisamples" password="declension123"/>
      </add>
    </objects>
    <interfaces>
      <add object="WebServiceClient" interface="Morpher.Russian.IDeclension"/>
      <add object="WebServiceClient" interface="Morpher.Ukrainian.IDeclension"/>
      <add object="WebServiceClient" interface="Morpher.Russian.INumberSpelling"/>
      <add object="WebServiceClient" interface="Morpher.Ukrainian.INumberSpelling"/>
    </interfaces>
  </morpher>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
