<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="morpher" type="Morpher.AppConfig.ConfigurationSectionHandler, Morpher.API" /> 
    </configSections>
  <morpher>
    <objects>
      <add name="WebServiceClient" type="Morpher.WebServiceClient">
        <!-- Не забудьте сменить логин и пароль на свои: http://morpher.ru/Register.aspx -->
        <parameters url="http://morpher.ru/WebService.asmx" username="morpherapisamples" password="declension123"/>
      </add>
    </objects>
    <interfaces>
      <add object="WebServiceClient" interface="Morpher.Russian.IDeclension" />
      <add object="WebServiceClient" interface="Morpher.Russian.INumberSpelling" />
      <add object="WebServiceClient" interface="Morpher.Ukrainian.IDeclension" />
      <add object="WebServiceClient" interface="Morpher.Ukrainian.INumberSpelling" />
    </interfaces>
  </morpher>
</configuration>