<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://morpher.ru/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="MorpherWebService.WebServiceSoap"
                name="WebServiceSoap" />
            <endpoint address="http://morpher.ru/WebService.asmx" binding="customBinding"
                bindingConfiguration="WebServiceSoap12" contract="MorpherWebService.WebServiceSoap"
                name="WebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>